$primary: orange;
$danger: pink;
$modal-backdrop-bg: green;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$gesulgon-theme-colors: (
    "favorite1" : purple,
    "favorite2" : brown
);

$theme-colors: map-merge($gesulgon-theme-colors , $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";